* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    color: #3d3d3d;
}

h2 {
    font-size: 3rem;
    color: #3d3d3d;
}

h3 {
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

.navbar {
    position: fixed;
    top: 2rem;
    width: 80%;
    z-index: 10;
}

.navbar a {
    font-family: 'Crimson Pro', serif;
    font-size: 2.5rem;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px dotted #000000;
}

.navbar a:hover {
    border-bottom: 2px solid #000000;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.main-nav li {
    text-align: center;
    margin: 1rem auto;
}

#name {
    display: inline-block;
    text-decoration: none;
    border-bottom: none;
    margin-left: 1rem;
    padding: 1rem 0;
}

.navbar-toggle {
    float: right;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
    margin-right: 1rem;
}

.active {
    display: block;
}

.active a {
    display: inline-block;
    background-color: #ffffff;
}

@media screen and (min-width: 600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    html:not([data-scroll='0']) .navbar {
        background-color: #ffffff;
        box-shadow: 0 0.2rem .5rem -0.2rem gray;
        border-radius: 3px;
    }
    
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .nav-links {
        margin: 0 1rem;
    }
    
    .navbar-toggle {
        display: none;
    }

    .project-logo {
        width: 20rem;
    }
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-image: url(../images/background.png);
}

.headline {
    width: 65%;
    margin: 0 auto;
}

.underline {
    box-shadow: inset 0 -1px 0 white, inset 0 -3px 0 #3d3d3d; /* normal underline too ugly! */
}



@media screen and (max-width: 600px) {
    .wrapper {
        width: 90%;
    }
    
    .navbar {
        width: 90%;
        background-color: #ffffff;
        box-shadow: 0 0.2rem .5rem -0.2rem gray;
        border-radius: 3px;
    }

    .navbar a {
        font-size: 2rem;
    }
    
    .headline {
        width: 80%;
    }
    
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .portrait {
        width: 100%;
    }

    .project-logo {
        width: 100%;
        padding: 0 10%;
    }
}

.section {
    padding-top: 8rem;
}

.float-left {
    float: left;
    margin: 0 2rem 1rem 0;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.about-me {
    margin-bottom: 1rem;
}

.resume {
    text-align: center;
}

.resume a {
    display: inline-block;
    background-color: #000000;
    border: 2px solid #000000;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    color: #ffffff;
    text-decoration: none;
}

.resume a:hover {
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #000000;
}

#contact * {
    text-align: center;
}

.contact {
    margin-bottom: 1rem;
}

footer {
    margin-top: 8rem;
    border-top: 1px solid #bbbbbb;
    padding: 2rem;
}

footer p {
    text-align: center;
}

.swiper-container {
    width: 100%;
}

.project-logo {
    border-radius: 50%;
}

.swiper-slide {
    padding: 2rem 1rem;
}

.swiper-pagination-bullet-active {
    background-color: #3d3d3d;
  }